@model IEnumerable<SheypoorChi.DataLayer.Models.Group>

@{
    ViewData["Title"] = "پنل مدیریت | گروه ها";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>لیست گروه ها</h1>

<p>
    @* <a asp-area="admin" asp-controller="groups" asp-action="Create">ثبت گروه جدید</a> *@
    
    <a asp-action="Create" class="btn btn-success rounded-5" >ثبت گروه جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotShow)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                   @*  @Html.DisplayFor(modelItem => item.Img) *@
                   @* 1 svg code*@
                   @* @Html.Raw(item.Img) *@

                   @* 2 svg file *@
                   <img src="~/images/groups/@item.Img" width="100">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotShow)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" 
                    class="btn btn-danger m-1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
